<h1> Listing </h1>

<% if @listing.verified? %>
This listing has been verified. <br>
<% end %>

ID| <%= @listing.id %> <br>
Name| <%= @listing.name %> <br>
Description|  <%= @listing.description %> <br>
Place Type| <%= @listing.place_type %> <br>
Property Type| <%= @listing.property_type %> <br>
No. of Rooms| <%= @listing.room_number %> <br>
No. of Beds| <%= @listing.bed_number %> <br>
No. of Guest|  <%= @listing.guest_number %> <br>
Price| <%= @listing.price %><br>
Created By| <%= "#{@user.first_name} #{@user.last_name}" %> <br>
Created On| <%= @listing.created_at.localtime %> <br>

Calendar (TBC) <br>
Book this Property (TBC) <br>

<% if @listing.user_id == current_user.id && signed_in? %>
    <%= link_to "Edit", edit_listing_path(@listing.id), class: "btn btn-secondary outline" %>
    <%= link_to "Delete", listing_path(@listing.id), method: :delete, class: "btn btn-secondary outline" %>
<% elsif current_user.customer? %>
    <%= link_to "Book It!", new_listing_booking_path(@listing.id), class: "btn btn-success" %>

<% end %>

<% if current_user.moderator? %>
	<%= button_to "Verify", verify_path, class: "btn btn-success" %>
<% end %>

